<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=116.205.142.17;Initial Catalog=xg2019;uid=stu;pwd=123" providerName="System.Data.SqlClient"/>
    <!--<add name="constr" connectionString="Data Source=.; Initial Catalog = Student_system; integrated security=SSPI" providerName="System.Data.SqlClient"/>-->
    <!--<add name="con" connectionString="Data Source=.;Initial Catalog=Assign;uid=stu;pwd=123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>